.contenedor{
    display: flex;
    justify-content: center;
}

.contenedorDetail{
    background-color: #573e307e;
    margin-top: 23vh;
    min-height: 100%;
    justify-content: flex-start;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid black;
    width: 120vh;
    border-radius: 40px;
    margin-left: 10vh;
    margin-right: 10vh;
}

.contenedorDetail:hover{
    box-shadow: 4px 4px 1px black;
    transition: 0.4s;
}

.nombrePais{
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 4vh;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.id{
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 4vh;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.info{
    margin-left: 30vh;
}

.banderita{
    width: 30vh;
    border-top-right-radius: 40px;
    margin-bottom: 1vh;

}

.hrDetail{
    position: relative;
    bottom: 1.7vh;
    border: none;
    height: 1px;
    background-color: black;
}

.contenedorDatos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.divsTituloDato{
    margin: 5vh;
    width: 20vh;
}

.titulos{
    font-size: 3vh;
    font-weight: 400;
}

.datos{
    font-size: 2vh;
    font-weight: 300;
}

.arrowBack{
    color: white;
    position: absolute;
    top:0;
    left:0;
    height: 10vh;
    margin-left: 5vh;
    margin-top: 5vh;
    outline: 0;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 12px 20px;
    text-align:center;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);      
}

.arrowBack:hover{
    color: #000;
    background: rgba(177, 175, 62, 0.692);
    box-shadow: 4px 4px 1px black;
}

.contenedorActividad{
    display: flex;
    justify-content: space-around;
}

.estrellitas{
    width: 3vh;
}

.seasonsIcons{
    height: 4vh;
}

.noActivities{
    text-align: center;
}

.hrActivities{
    width: 55vh;
    border: none;
    height: 1px;
    background-color: black;
}

.loadingCountry{
    margin-top: 20vh;
}

.logoWorldDetail{
    position: absolute;
    top: 2%;
    right: 2%;
    width: 60vh;
}

.seasonsIconos{
    margin-left: 0;
    display: flex;
    justify-content: center;
    width: 16vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.durationActivity{
    margin: 0;
    padding: 0;
    width: 15vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.divStars{
    width: 15vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.nameActivity{
    width: 15vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.contenedorActividad h3{
    width: 15vh;
}

.headDetail{
    display: flex;
    justify-content: space-between;
}

.divNombreId{
    margin-left: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width: 800px){
    .logoWorldDetail{
        width: 45vh;
    }
    .arrowBack{
        height: 7vh;
        margin-left: 2vh;
    }
    .headDetail{
        flex-direction: column-reverse;
        align-items: center;
    }
    .banderita{
        border-top-right-radius: 0px;
    }
    .divNombreId{
        margin: 0px;
        align-items: center;
    }
    .contenedorDetail{
        margin-top: 20vh;
    }
    .titulos{
        font-size: 2.5vh;
        font-weight: 700;
    }
    
    .datos{
        font-size: 1.5vh;
        font-weight: 400;
    }

    .nameActivity{
        width: 12vh;
    }
    
    .divStars{
        width: 12vh;
    }
    
    .durationActivity{
        width: 12vh;
    }
    
    .seasonsIconos{
        width: 12vh;
    }
    
    .contenedorActividad h3{
        width: 12vh;
    }

    .estrellitas{
        width: 2vh;
    }
    
    .seasonsIcons{
        height: 3vh;
    }
}

@media screen and (max-width: 670px){
    .contenedorActividad{
        justify-content: center;
    }
    .contenedorDatos{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .titulos{
        font-size: 3vh;
        font-weight: 700;
    }
    
    .datos{
        font-size: 1.5vh;
        font-weight: 400;
    }

    .divsTituloDato{
        margin: 2vh;
    }
}

@media screen and (max-width: 600px){
    .nombrePais{
        width: 50vh;
    }
    .logoWorldDetail{
        width: 30vh;
        right: -20px;
    }
    .arrowBack{
        height: 5vh;
    }
    .contenedorDetail{
        margin-top: 15vh;
        margin-left: 0;
        margin-right: 0;
        border-right: none;
        border-left: none;
        border-radius: 0;
    }
    .nameActivity{
        font-size: 1.8vh;
    }
    
    .divStars{
        font-size: 1.8vh;
    }
    
    .durationActivity{
        font-size: 1.8vh;
    }
    
    .seasonsIconos{
        font-size: 1.8vh;
    }
    
    .contenedorActividad h3{
        font-size: 1.8vh;
    }
}

@media screen and (max-width: 500px){
    .nombrePais{
        font-size: 3vh;
    }
    .id{
        font-size: 3vh;
    } 

    .nameActivity{
        width: 9vh;
        font-size: 2vh;
    }
    
    .divStars{
        width: 9vh;
        font-size: 2vh;
    }
    
    .durationActivity{
        width: 9vh;
        font-size: 2vh;
    }
    
    .seasonsIconos{
        width: 9vh;
        font-size: 2vh;
    }
    
    .contenedorActividad h3{
        width: 9vh;
        font-size: 1.5vh;
    }

    .seasonsIcons{
        height: 2.5vh;
    }
}

